{% extends "base.html" %}

{% load static %}

{% block title %}
  User: 
  
    {{ object.username }}
  
  
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>
        
        
          {{ object.username }}
        
      </h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>
  {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">
      <div class="col-sm-12">
        <form method="get" action="{% url 'users:update' %}" style="display: inline;">
          <button type="submit" class="btn btn-primary">My Info</button>
        </form>
        <form method="get" action="{% url 'account_email' %}" style="display: inline;">
          <button type="submit" class="btn btn-primary">E-Mail</button>
        </form>
        <form method="get" action="{% url 'mfa_index' %}" style="display: inline;">
          <button type="submit" class="btn btn-primary">MFA</button>
        </form>
        <!-- Your Stuff: Custom user template urls -->
      </div>
    </div>
    <!-- End Action buttons -->
  {% endif %}
</div>
{% endblock content %}
